<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- CSS  -->
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
</head>
<body>
<th:block th:fragment="header">

    <div class="navbar-fixed">
        <nav>
            <ul id="dropdown1" class="dropdown-content lime lighten-5">
                <li th:each="topic:${topics}" ><a th:unless="${topic.id=='stackoverflow'}" th:href="@{'/topics/'+${topic.id}+'/courses'}">[[${topic.name}]]</a>
                    <!--<li class="divider"></li>-->

                    <a th:if="${topic.id=='stackoverflow'}" href="http://www.stackoverflow.com">Stackoverflow</a>
                </li>
                <!--<li><a th:href="@{/topics/javaee/courses}">Java EE</a></li>-->
                <!--<li><a th:href="@{/topics/javascript/courses}">JavaScript</a></li>-->
                <!--<li><a th:href="@{/topics/html-css/courses}">HTML+CSS</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a th:href="@{/topics/spring/courses}">Spring</a></li>-->
                <!--<li><a href="http://www.stackoverflow.com">Stackoverflow</a></li>-->
            </ul>
            <nav class="yellow lighten-5" role="navigation">
                <div class="nav-wrapper container">
                    <a id="logo-container" href="/" class="brand-logo"><img class="responsive-img" id="logo"
                                                                            th:src="@{/img/cat.png}"/>VVM.COM</a>
                    <ul class="right hide-on-med-and-down">
                        <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Все курсы<i
                                class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a th:href="@{/hello}">Hello page</a></li>
                        <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Вход | Регистрация</a></li>
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/users/profile}">Профиль</a></li>
                        <li sec:authorize="isAuthenticated()"><a
                                th:href="@{'/users/user-courses/' + ${#authentication.getPrincipal().getId()}}">Мои курсы</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/users}">Администрирование</a></li>
                        <li sec:authorize="isAuthenticated()"><a data-toggle="tooltip" data-placement="bottom" title="Выход"
                                th:href="@{/logout}"><i style="color: #00e5ff" class="fas fa-sign-out-alt"></i>
                        </a>
                        </li>
                    </ul>

                    <ul id="nav-mobile" class="sidenav">
                        <li><a href="#">Main page</a></li>
                        <li><a href="#">Все курсы</a></li>
                        <li><a href="#">Еще ссылка</a></li>
                        <li><a href="#">Снова ссылка</a></li>
                        <li><a href="#">Вход</a></li>
                    </ul>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                </div>
            </nav>
        </nav>
        <script>
        $(function () {
        $('[data-toggle="tooltip"]').tooltip()
        })
        </script>
    </div>

</th:block>

</body>
</html>