<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/materialize.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"/>
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Vitaliy Maltsev Project</title>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<th:block th:replace="fragments/header :: header"/>
    <th:block layout:fragment="content"/>
<script>

    $(".dropdown-trigger").dropdown();

</script>
<th:block th:replace="fragments/footer :: footer"/>
</body>
</html>