<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/mount.css}"/>

</head>
<body>
<div layout:fragment="content" th:remove="tag">

<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/540518/pexels-photo-540518.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">MOUNTAIN</h1>
    </div>
    <div class="back">
        <h2>HELLO</h2>
        <!--<p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>-->
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">LAKE</h1>
    </div>
    <div class="back">
        <h2>USER</h2>
        <!--<p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>-->
    </div>
</div>
<div class="flip">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/36717/amazing-animal-beautiful-beautifull.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">OCEAN</h1>
    </div>
    <div class="back">
        <h2>WELCOME</h2>
        <!--<p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>-->
    </div>
</div>

<br>
<br>

<!-- vertical -->

<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">FOREST</h1>
    </div>
    <div class="back">
        <h2>TO</h2>
        <!--<p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>-->
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34950/pexels-photo.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">TRACK</h1>
    </div>
    <div class="back">
        <h2>MY</h2>
        <!--<p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>-->
    </div>
</div>
<div class="flip flip-vertical">
    <div class="front" style="background-image: url(https://images.pexels.com/photos/34546/sunset-lake-landscape-summer.jpg?w=1260&h=750&dpr=2&auto=compress&cs=tinysrgb)">
        <h1 class="text-shadow">SWAMP</h1>
    </div>
    <div class="back">
        <h2>PAGE</h2>
        <!--<p>Good tools make application development quicker and easier to maintain than if you did everything by hand..</p>-->
    </div><br>
    <p><a href="/" th:href="@{/}">Вернуться на главную</a></p>
</div>
</div>
</body>
</html>