<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
    <head>
        <title>My Project</title>
    </head>
    <body>
    <div layout:fragment="content" th:remove="tag">
        <h1>Hello, User</h1>

        <p>This is an unsecured page, but you can access the secured pages after authenticating.</p>
        <ul>
            <li>Go to the <a href="/user" th:href="@{/user}">secured pages</a></li>
            <li>Please click <a href="/hello"th:href="@{/hello}">here</a> to see a message</li>
            <li>Please click <a href="/main" th:href="@{/main}">here</a> to see a main page</li>
            <li>Please click <a href="/maif" th:href="@{/maif}">here</a> to see a main test page</li>
            <li>Please click <a href="/topics/java/courses" th:href="@{/topics/java/courses}">here</a> to see all JAVA courses </li>
        </ul>
    </div>

    </body>

