<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Lessons</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div th:remove="tag" th:if="${lessonUpdateSuccess}">
        <div class="alert alert-success mb-0 center alert-dismissible fade show" role="alert">[[${lessonUpdateSuccess}]]<button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button></div>
    </div>
    <div class="container">
        <div class="row my-0">
            <div class="col-4">
                <h1 th:inline="text">[[${courseName}]] </h1>
            </div>
            <div class="col-3"></div>
            <div class="form-group col-5 mt-1 ">
                <form method="get" th:action="@{'/topics/'+${topicId}+'/courses/'+${courseId}+'/lessons'}"
                      class="form-inline right-align">
                    <input class="form-control w-75"
                           name="searchName" type="text" placeholder="Искать урок" aria-label="Search">
                    <button type="submit" class="btn-floating btn-small mt-0 float-right cyan">
                        <i class="material-icons right">search</i></button>
                </form>
            </div>
        </div>

        <p>
            <a style="border-radius: 100px" class="btn btn-outline-info" data-toggle="collapse" href="#collapseExample" role="button"
               aria-expanded="false"
               aria-controls="collapseExample">
                Добавить новый урок
            </a>
        </p>

        <div class="collapse" th:classappend="${lesson== null ? '' :'show'}" id="collapseExample">
            <div class="card card-body">
                <div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">

                            <form class=" needs-validation"
                                  th:action="@{'/topics/'+${topicId}+'/courses/'+${courseId}+'/lessons'}"
                                  th:object="${lesson}"
                                  novalidate=""
                                  method="post" enctype="multipart/form-data">
                                <div class="form-group mt-0 mb-0">
                                    <label for="validationCustomCourses">
                                        <h5 style="font-family: 'Raleway', sans-serif">Название урока</h5></label>
                                    <input type="text"
                                           id="validationCustomCourses"
                                           autofocus="autofocus"
                                           name="name"
                                           placeholder="Введите название нового урока"
                                           minlength="3"
                                           maxlength="20"
                                           class="form-control"
                                           required="required"/>
                                    <div class="valid-feedback">Отлично!</div>
                                    <div class="invalid-feedback">Данное поле не должно быть менее 3 символов</div>
                                </div>
                                    <input type="hidden" name="id" th:value="${lesson== null ? '' : lesson.id}"/>
                                    <div class="form-group mt-0 mb-0">
                                        <label for="validationCustomDesc"><h5 style="font-family: 'Raleway', sans-serif">Описание урока</h5></label>
                                        <textarea class="form-control"
                                                  name="description"
                                                  minlength="10"
                                                  maxlength="60"
                                                  id="validationCustomDesc"
                                                  placeholder="Введите описание урока"
                                                  required="required"></textarea>
                                        <div class="valid-feedback">Отлично!</div>
                                        <div class="invalid-feedback">
                                            Данное поле не должно быть менее 10 символов
                                        </div>
                                    </div>

                                    <div class="form-group mt-0 mb-0">
                                        <label class="mt-1" for="validationCustomLinks"><h5 style="font-family: 'Raleway', sans-serif">Ссылка</h5></label>
                                        <input type="text"
                                               id="validationCustomLinks"
                                               autofocus="autofocus"
                                               name="link"
                                               placeholder="Введите ссылку на урок"
                                               minlength="10"
                                               class="form-control"
                                               maxlength="255"
                                               pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$"
                                               required="required"/>
                                        <div class="valid-feedback">Отлично!</div>
                                        <div class="invalid-feedback">Введите корректную ссылку</div>
                                    </div>
                                    <div class="mt-2">
                                        <button class="btn btn-outline-info  " type="submit"
                                        >Добавить
                                        </button>
                                        <button class="btn btn-outline-secondary waves-effect waves-light red"
                                                type="reset"
                                        >Отменить
                                        </button>
                                    </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="card mt-4">
                                <img style="height: 400px" class="card-img-top" th:src="@{/img/coding6.jpg}">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 align="center"><strong>[[${searchName==null?'':'Результаты поиска '+ searchName}]]</strong></h4>


        <div class="mt-2" th:with="totalPages=${pageLessons.getTotalPages()},
              pageNumber=${pageLessons.getNumber()+1},
              head=${(pageNumber>4)?{ {1,-1} }: { {1, 2, 3} }},
              tail=${(pageNumber < totalPages-3) ?{ {-1, totalPages} }:{ {totalPages-2, totalPages-1, totalPages} }},
              bodyBefore=${(pageNumber > 4 && pageNumber < totalPages-1)?{ {pageNumber-2, pageNumber-1} } :''},
              bodyAfter=${(pageNumber > 2 && pageNumber < totalPages-3)?{ {pageNumber+1, pageNumber+2} }:''},
              currentPage =${(pageNumber > 3 && pageNumber < totalPages-2)? { {pageNumber} } : '' },
              body0=${#strings.concat(head, bodyBefore,currentPage,bodyAfter,tail)},
              body1=${#strings.replace(body0,'[',' ')},
              body2=${#strings.replace(body1,']',' ')},
              body3=${#strings.replace(body2,',',' ')},
              body4=${#strings.trim(body3)},
              bodyLast=${#strings.listSplit(body4,' ')}">

            <div th:with="body=${pageLessons.getTotalPages()==0?1:(pageLessons.getTotalPages() > 7) ? bodyLast: #numbers.sequence(1,pageLessons?.getTotalPages())}">

                <div>
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Страницы</a>
                        </li>
                        <span th:each="pg : ${body}">
                        <span th:with="p=${T(Integer).parseInt(pg)}">
                    <span th:if="${p-1==pageLessons.getNumber()}">
                    <li class="page-item active">
                        <a class="page-link" href="#" tabindex="-1">[[${p}]]</a>
                    </li>
                    </span>
                         <span th:if="${p==-1}">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">...</a>
                    </li>
                    </span>
                        <span th:unless="${p==-1}">
                    <span th:unless="${p-1==pageLessons.getNumber()}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{${url}(page=${p-1},size=${pageLessons.getSize()})}" tabindex="-1">[[${p==-1?'':p}]]</a>
                    </li>
                    </span>
                </span>
                        </span>
                    </span>
                    </ul>
                </div>
            </div>
        </div>

        <div th:if="${not #lists.isEmpty(pageLessons.getContent())}">
            <table>
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Дата Добавления</th>
                    <th>Добавил</th>
                    <th>URL</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lesson : ${pageLessons?.content}">
                    <td data-label="Name" th:text="${lesson.name}">n</td>
                    <td data-label="Description" th:text="${lesson.description}">n</td>
                    <td data-label="AddedDate" th:text="${lesson.addedDate}">n</td>
                    <td data-label="Author">
                        <a th:href="@{'/users/user-courses/' + ${lesson.author.id}}">[[${lesson.author.name}]]</a>
                    </td>
                    <td data-label="Link"><a th:href="@{${lesson.link}}">Go</a></td>
                    <td data-label="Edit"> <a
                            th:href="@{'/users/user-courses/' + ${lesson.author.id}(lesson=${lesson.id})}">[[${lesson.author.id==#authentication.getPrincipal().getId()}?'Редактировать':' ']]</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row mt-3">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <div th:with="sizeList = ${ {10,20,50,100} }" class="ml-auto">
                    <ul class="pagination">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Элементов на странице</a>
                        </li>
                        <span th:each="size : ${sizeList}">
                    <span th:if="${size==pageLessons.getSize()}">
                    <li class="page-item active">
                        <a class="page-link" href="#" tabindex="-1">[[${size}]]</a>
                    </li>
                    </span>
                    <span th:unless="${size==pageLessons.getSize()}">
                    <li class="page-item">
                        <a class="page-link" th:href="@{${url}(page=${pageLessons.getNumber()},size=${size})}" tabindex="-1">[[${size}]]</a>
                    </li>
                    </span>
                </span>
                    </ul>
                </div>
            </div>
        </div>

        <script>

            (function () {
                'use strict';
                window.addEventListener('load', function () {
                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                    var forms = document.getElementsByClassName('needs-validation');
                    // Loop over them and prevent submission
                    var validation = Array.prototype.filter.call(forms, function (form) {
                        form.addEventListener('submit', function (event) {
                            if (form.checkValidity() === false) {
                                event.preventDefault();
                                event.stopPropagation();
                            }
                            form.classList.add('was-validated');
                        }, false);
                    });
                }, false);
            })();
        </script>
    </div>
</div>

</body>
</html>