<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Main</title>
</head>
<body>
<span><a href="/users">User's list</a></span>
<div layout:fragment="content" th:remove="tag">
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>

    <div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form th:action="@{/main}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="topicname"><h5>Topic name</h5></label>:
                        <input type="text"
                               id="topicname"
                               name="name"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="Введите название нового раздела">
                    </div>
                    <div class="form-group">
                        <label for="topicdesc"><h5>Topic description</h5></label>:
                        <input type="text"
                               id="topicdesc"
                               name="description"
                               class="form-control"
                               autofocus="autofocus"
                               placeholder="Введите описание нового раздела">
                    </div>
                    <br>
                    <input type="file" name="file">

                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input type="hidden" name="time">
                    <button type="submit" style="font-family:'Bauhaus 93',fantasy">Добавить</button>
                    <button type="reset" style="font-family: 'Bauhaus 93',fantasy">Отменить</button>
                </form>
            </div>
        </div>
    </div>
    <form method="get" th:action="@{/main}">
        <input type="text" name="name">
        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
        <button type="submit" style="font-family:'Bauhaus 93',fantasy">Найти по названию</button>
    </form>
    <br>
    <span>Список доступных тем</span><br>
    <div th:if="${not #lists.isEmpty(topics)}">
        <table>
            <!--<thead> … </thead>-->
            <tbody>
            <tr th:each="topic : ${topics}">
                <td style="color: aqua" th:text="${topic.id}">n</td>
                <td th:text="${topic.name}">n</td>
                <td th:text="${topic.description}">n</td>
                <div th:if="${not #strings.isEmpty(topic.filename)}">
                    <img src="/img/${topic.filename}"/>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>