<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Login</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">

    <div class="row">
        <div class="container">
            <h1 th:inline="text">Редактирование пользователя [[${#httpServletRequest.remoteUser}]]!</h1>
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${message !=null}">
                <div th:if="${message == false}">
                           
                    <div class="alert alert-danger">
                        Код активации не найден!
                    </div>
                </div>
                <div th:if="${message == true}">
                           
                    <div class="alert alert-success">
                        Учетная запись успешно активирована!
                    </div>
                </div>
            </div>
            <form method="post" th:object="${user}" th:action="@{/users/profile}">
                <!--<div th:if="${param.error}">-->
                    <!--<div class="alert alert-danger">-->
                        <!--Неверные имя пользователя и/или пароль-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div th:if="${param.logout}">-->
                    <!--<div class="alert alert-info">-->
                        <!--Вы вышли из учетной записи-->
                    <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="input-field">
                        <i class="material-icons prefix">lock_outline</i>
                    <input type="password"
                           id="password"
                           name="password"
                           class="form-control">
                    <label for="password">Пароль</label>
                           <!--th:value=${user.password}-->
                </div>
                </div>
                <div class="form-group">
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                    <input type="email"
                           id="email"
                           name="email"
                           class="form-control"
                           th:value=${user.email}>
                    <label for="email">E-mail</label>
                </div>
                </div>
                <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <input type="submit"
                                   name="login-submit"
                                   id="login-submit"
                                   class="form-control btn btn-info"
                                   value="Сохранить">
                        </div>
                    </div>
                </div>
            </form>
    <p><a href="/" th:href="@{/}">Вернуться на главную</a></p>
        </div>
    </div>
    </div>

</div>
</body>
</html>