<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Topics</title>
</head>
<body>
<!--<span><a href="/users">User's list</a></span>-->
<div layout:fragment="content" th:remove="tag">
    <div class="container my-lg-3">

        <div class="card-columns" id="topic-list">
            <div th:if="${not #lists.isEmpty(topics)}" th:each="topic : ${topics}">
                <div class="card border-warning my-3" style="width: 20rem;" th:data-id="${topic.id}">
                    <b>
                        <div class="card-header" style="color: #3ccaed" th:text="${topic.name}">
                        </div>
                    </b>
                    <div class="mb-0" th:if="${not #strings.isEmpty(topic.filename)}">
                        <img style="height: 12rem" class="card-img-top" th:src="@{${'/img/' + topic.filename}}"/>
                    </div>
                    <div style="height: 1rem" class="card-body my-0">
                        <a th:href="${topic.id=='stackoverflow'}? @{http://www.stackoverflow.com}: @{'/topics/'+${topic.id}+'/courses'}"
                           style="border-radius: 100px" class="btn cyan mt-0">Перейти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>