<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.1/css/bootstrap.min.css}"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container mb-3">

    <h1>Cписок пользователей</h1>
    <div th:if="${not #lists.isEmpty(userList)}">
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Surname</th>
                <th>E-mail</th>
                <th>Дата Регистрации</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userList}">
                <td data-label="Name" th:text="${user.name}">n</td>
                <td data-label="Surname" th:text="${user.surname}">n</td>
                <td data-label="Surname" th:text="${user.email}">n</td>
                <td data-label="Surname" th:text="${user.registrationDate}">n</td>
                <td data-label="Roles" id="Roles">
                    <label for="Roles" th:each="role, iterStat :${user.roles}" th:text="!${iterStat.last}? ${role} + ', ': ${role}">i</td>
                <td data-label="Edit"> <a th:href ="@{'/users/' + ${user.id}}">edit</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
<script type="text/javascript" th:src="@{/js/table.js}"></script>
</body>
</html>